
<app-spinner></app-spinner>

<div class="control" *ngIf="!spinner?.isLoading">
  <div class="container mt-4 mb-4 text-center">
    <h2>Selecciona una Comunidad Autónoma de <strong>España</strong>  </h2>
    <select [(ngModel)]="selectedCommunity" (ngModelChange)="onSelectCommunity($event)"
    class="form-select-lg form-dark-purple" aria-label="Default select example">
      <option *ngFor="let communitty of apiCommunities?.results " [value]="communitty.acom_code">
          {{ communitty.acom_name}}
      </option>
    </select>
  </div>

  <app-spinner-bootstrap [isLoadingBootstrap]="isLoadingProvinces"></app-spinner-bootstrap>
  <div class="control" *ngIf="!isLoadingProvinces">
    <div class="container mt-4 mb-4 text-center" *ngIf="selectedCommunity">
      <h2>Selecciona una provincia</h2>
      <select [(ngModel)]="selectedProvince" (ngModelChange)="onSelectProvince($event)"
       class="form-select-lg form-dark-purple" aria-label="Default select example">
        <option *ngFor="let province of apiProvinces?.results" [value]="province.prov_code">{{province.prov_name}}</option>
      </select>
    </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="myToastCommunity" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Puedes ver los municipios de esta comunidad, pero no hay información meteorológica disponible sobre ellos.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="myToastProv" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Puedes ver los municipios de esta provincia, pero no hay información meteorológica disponible sobre ellos.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>


   <app-spinner-bootstrap [isLoadingBootstrap]="isLoadingMunicipalities"></app-spinner-bootstrap>
   <div class="control" *ngIf="!isLoadingMunicipalities">
    <div class="container mt-4 mb-4 text-center" *ngIf="selectedProvince">
      <h2>Municipios de la provincia seleccionada</h2>
        <ul class="col-8 col-md-6 m-auto list-group scrollable-list" data-bs-spy="scroll">
          <li *ngFor="let municipality of apiMunicipalities?.results" class="list-group-item list-group-item-action list-group-item-dark-purple"
            (click)="onSelectMunicipality(municipality.mun_code)">
            {{municipality.mun_name}}
          </li>
        </ul>
      </div>
   </div>

</div>
<!-- {{apiCommunities|json}}
{{apiMunicipalities|json}} -->
<!-- {{apiProvinces|json}} -->
