
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-light navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/calculator" routerLinkActive="active">Calculadora</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/weather" routerLinkActive="active" routerLink="/weather" routerLinkActive="active">
            Tiempo
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mapa</a></li>
            <li><a class="dropdown-item" href="#">Por ubicación</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

