
<nav class="navbar navbar-expand-lg bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://angular.io/docs" title="Angular 14.0.0">
      <img src="../../assets/angular.svg" alt="Logo" width="37" height="32" class="d-inline-block align-top custom-margin-negative">
      <span class="me-2">NGULAR</span>
    </a>



    <button class="navbar-toggler m-mt-1" type="button" data-bs-toggle="collapse" data-bs-theme="dark" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" data-bs-theme="dark"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="--bs-scroll-height: 200px;">
      <ul class="navbar-nav navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="/home" routerLinkActive="active">
            <img src="../../assets/home.svg" alt="" id="svgHome" class="align-top"/>
            Home
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text-white" href="#" routerLink="/calculator" routerLinkActive="active">Calculadora</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text-white" href="#" routerLink="/weather-aemet" routerLinkActive="active">Tiempo</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text-white" href="#" routerLink="/countries" routerLinkActive="active">Países</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text-white" href="#" routerLink="/geoMunicipalities" routerLinkActive="active">Municipios</a>
        </li>
        <li class="nav-item d-lg-none d-md-block" *ngIf="isLoggedIn">
          <a class="nav-link text-white" href="#" routerLink="/weather-map" routerLinkActive="active">Mapa del tiempo</a>
        </li>
      </ul>

      <li class="nav-item d-lg-block d-md-none d-sm-none dropdown ms-1" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ver más
        </a>
        <ul class="dropdown-menu" data-bs-theme="purple">
          <li><a class="dropdown-item" href="#" routerLink="/weather-map" routerLinkActive="active">Mapa del tiempo</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>


      <ul class="navbar-nav ms-auto">
        <li class="nav-item" #sessionStartRegister *ngIf="!isLoggedIn">
          <img src="../../assets/sessionFalse.svg" alt="" id="svgSessionFalse" class="align-top"/>
           <a class="nav-link-custom text-white" href="#" routerLink="/login" routerLinkActive="active" >Iniciar sesión/Registrarse</a>
        </li>
        <li class="nav-item" #sessionLogout *ngIf="isLoggedIn">
          <img src="../../assets/sessionTrue.svg" alt="" id="svgSessionTrue" class="align-top"/>
          <a class="nav-link-custom text-white" href="#" routerLink="/login" routerLinkActive="active" (click)="logoutNav()" >Cerrar sesión</a>
          <img src="../../assets/sessionLogOut.svg" alt="" id="svgSessionLogOut" class="align-top"/>
        </li>
      </ul>

      <!-- <form class="d-flex mt-md-1 ms-lg-auto" role="search">
        <input class="form-control me-2 text-black" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form> -->
    </div>
  </div>
</nav>

