// @import '../node_modules/leaflet/dist/leaflet.css';
@import '~leaflet/dist/leaflet.css';
$dark-purple-border: #540065;
#mapa{
  width:100%;
  height:100vh;
  border: 4px solid $dark-purple-border;
  border-radius: 8px;
  margin:0 auto;
}
