<div class="container mt-4">
  <h1> Predicción Cáceres: {{ currentDate }}</h1>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let forecast of dailyForecasts">
      <div class="card">
        <div class="card-header">
          <span>{{forecast.date}}</span>
        </div>
        <div class="card-body">
          <p>Probabilidad de Lluvia: {{ forecast.rainProbability }}%</p>
          <p>Dirección del Viento: {{ forecast.windDirection }}</p>
          <p>Temperatura Mínima: {{ forecast.tempMin }}°C</p>
          <p>Temperatura Máxima: {{ forecast.tempMax }}°C</p>
        </div>
      </div>
    </div>
  </div>
</div>
