

<!-- Mostrar el resultado si está presente -->
<!-- <p *ngIf="result !== ''">{{ result }}</p> -->

<!-- Si no hay resultado y hay un número actual, mostrar el número actual -->
<!-- <p *ngIf="result === '' && currentNumber !== ''">{{ currentNumber }}</p> -->

<!-- Si no hay resultado, no hay número actual pero hay un número anterior, mostrar el número anterior -->
<!-- <p *ngIf="result === '' && currentNumber === '' && previousNumber !== ''">{{ previousNumber }}</p> -->


<p>{{getDisplayedValue()}}</p>
