
<div class="container mt-1">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="input-group input-group-lg mb-2">
        <input type="text" class="form-control placeholder-custom" placeholder="Introduce código..." aria-label="Municipality's code" aria-describedby="button-search-municipality" id="inputCity" maxlength="5">
        <button class="btn btn-outline-purple" type="button-search-city" id="button-addon2">Buscar</button>
      </div>
    </div>
  </div>
</div>
