$purple-color: #712cf9;
$purple-dark-color:#5b1369;


h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.list-group-item-purple {
    --bs-list-group-bg: #712cf9;
    --bs-list-group-border-color: #5b1369;
    --bs-list-group-action-hover-color: #ffffff;
    --bs-list-group-action-hover-bg: #5b1369;
    --bs-list-group-action-active-color: #712cf9 !important;
    --bs-list-group-action-active-bg: #ffffff;
    --bs-list-group-active-color: #712cf9 !important;
    --bs-list-group-active-bg: #ffffff;
    --bs-list-group-active-border-color: #712cf9;
}




.list-group-item::before {
  color: #ffffff;
}

.list-group-item::after {
  color: #712cf9;
}


