$purple-color: #712cf9;
$purple-dark-color:#5b1369;


h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.list-group-item-primary {
    --bs-list-group-bg: #712cf9;
    --bs-list-group-border-color: #5b1369;
    --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    --bs-list-group-action-hover-bg: #5b1369;
    --bs-list-group-action-active-color: #5b1369;
    --bs-list-group-action-active-bg: var(--bs-primary-border-subtle);
    --bs-list-group-active-color: var(--bs-primary-bg-subtle);
    --bs-list-group-active-bg: var(--bs-primary-text-emphasis);
    --bs-list-group-active-border-color: var(--bs-primary-text-emphasis);
}

.list-group-item {
  color: #ffffff;
}

