<app-spinner></app-spinner>

<div class="control" *ngIf="!spinner.isLoading">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div class="col-2 mb-2 mb-md-3 text-center" *ngFor="let country of countries">
        <img [src]="country.flags.png" class="flag" alt="" (click)="getInfoModal(country.cca2)" data-bs-toggle="modal" data-bs-target="#countryModal"><br/>
        <small id="smallName">{{country.name.common}}</small>
      </div>
    </div>
  </div>

  <div class="modal fade" id="countryModal" aria-hidden="true" aria-labelledby="countryModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="col-md-9 modal-title fs-5" id="countryModalToggleLabel">Información básica de <strong>{{selectedCountry?.name?.common}}</strong></h1>
          <div class="col-2 offset-3 offset-md-0">
            <img src="{{selectedCountry?.flags?.svg}}" alt="{{selectedCountry?.flags?.alt}}" />
          </div>
          <button type="button" class="col-md-1 col-sm-1 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" *ngIf="selectedCountry">
          <div class="col-auto">
            <ul class="list-unstyled nested-list">
              <li>Continente: {{selectedCountry.region}}</li>
              <li>Capital: {{selectedCountry.capital}}</li>
              <li *ngFor="let currency of getCurrencies(selectedCountry)">Moneda: {{currency.value.name}}</li>
              <li>Idiomas: <span *ngFor="let idiom of selectedCountry.languages | keyvalue">{{idiom.value}} </span></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#countryModalToggle2">Información detallada</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="countryModalToggle2" aria-hidden="true" aria-labelledby="countryModalToggleLabel2" tabindex="-1" *ngFor="let infoModalD of countries">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content modal-control">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="countryModalToggleLabel2">Información detallada de <span>{{selectedCountry?.name?.common}}</span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="selectedCountry">
          <div class="col-12">
            <img [src]="selectedCountry.flags.png" alt="">
          </div>
          <!-- <div class="col-12">
            <div class="map">

            </div>
          </div> -->
          <div class="col-auto info-country-text">
            <ul class="list-unstyled nested-list">
              <p>{{infoModalD.flags.alt}}</p>
              <li>Nombre oficial: {{selectedCountry.name.official}}</li>
              <li>Región: {{selectedCountry.subregion}}</li>
              <li *ngFor="let currency of getCurrencies(selectedCountry)">
                Símbolo: {{currency.value.symbol}}
              </li>
              <li>Área: {{selectedCountry.area.toLocaleString()}} km²</li>
              <li>Población: {{selectedCountry.population.toLocaleString()}}</li>
              <li>Código FIFA: {{selectedCountry.fifa}}</li>
              <li>Zona horaria: {{selectedCountry.timezones}}</li>
              <li><a [href]="selectedCountry.maps.openStreetMaps"
                target="_blank" rel="noopener noreferrer" title="Mapa de {{ selectedCountry.name }}">
                Ver en el mapa</a>
              </li>
            </ul>
          </div>
          <div class="col-auto">
            <h3>Traducciones:</h3>
            <table class="table">
              <tr *ngFor="let translation of selectedCountry.translations |keyvalue">
                <td>{{ translation.key }}</td>
              <td>{{ translation.value.official }}</td>
              <td>{{ translation.value.common }}</td>
              </tr>
            </table>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#countryModal">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
