
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$multiProject-primary: mat.define-palette(mat.$indigo-palette);
$multiProject-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$multiProject-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$multiProject-theme: mat.define-light-theme((
  color: (
    primary: $multiProject-primary,
    accent: $multiProject-accent,
    warn: $multiProject-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($multiProject-theme);


@import '../node_modules/bootstrap/scss/bootstrap';

$purple-bootstrap: #712cf9;

.btn-primary{
  background-color: $purple-bootstrap !important;
  --bs-btn-border-color: $purple-bootstrap !important;
}

.bg-primary{
  background-color: $purple-bootstrap !important;
} // Define el color morado (purple) como el nuevo color primario

.navbar-brand{
  color: white !important;
}


.point-button{
  padding-left: 19px;
  padding-right: 19px;
}
.multiply-button{
  padding-left: 17.5px;
  padding-right: 17.5px;
}
.pi-button{
  padding-left: 15px;
  padding-right: 15px;
}

.add-button{
  padding-left: 14.5px;
  padding-right: 14.5px;
}

.divide-button{
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.subtract-button{
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.clear-button{
  padding-left: 15.5px;
  padding-right: 15.5px;
}


/* Estilos generales para las columnas */
.col-1 {
    width: 10%; /* Ancho predeterminado para pantallas pequeñas */
  }

.col-3 {
  width: 25%;
}

/* Media queries para ajustar el ancho en diferentes tamaños de pantalla */
@media (min-width: 576px) { /* Tamaño de pantalla: Extra pequeña (>= 576px) */
    .col-1 {
      width: 9%; /* Ancho para pantallas medianas */
    }
    .col-3 {
      width: 23%; /* Ancho para pantallas medianas */
    }
}

@media (min-width: 768px) { /* Tamaño de pantalla: Pequeña (>= 768px) */
  .col-1 {
      width: 8%; /* Ancho para pantallas grandes */
  }
  .col-3 {
      width: 17%; /* Ancho para pantallas grandes */
  }

  .btn{
    padding-left: 17.5px;
    padding-right: 17.5px;
  }

  .btn.clear-entry-button{
    padding-left: 10.5px;
    padding-right: 10.5px;
  }

  .btn.divide-button{
    padding-left: 19.5px;
    padding-right: 19.5px;
  }

  .btn.point-button{
    padding-left: 22.5px;
    padding-right: 22.5px;
  }

  .btn.add-button{
    padding-left: 16.5px;
    padding-right: 16.5px;
  }

}

@media (min-width: 992px) { /* Tamaño de pantalla: Grande (>= 992px) */
  .col-1 {
      width: 7%; /* Ancho para pantallas grandes */
    }
    .col-3 {
      width: 19%; /* Ancho para pantallas grandes */
    }

    .btn{
      padding-left: 19.5px;
      padding-right: 19.5px;
    }

    .btn.clear-entry-button{
      padding-left: 12.5px;
      padding-right: 12.5px;
    }

    .btn.divide-button{
      padding-left: 21.5px;
      padding-right: 21.5px;
    }

    .btn.point-button{
      padding-left: 24.5px;
      padding-right: 24.5px;
    }
    .btn.add-button{
      padding-left: 18.5px;
      padding-right: 18.5px;
    }
}
@media (min-width: 1200px) { /* Tamaño de pantalla: Extra grande (>= 1200px) */
  .col-1 {
      width: 6%; /* Ancho para pantallas grandes */
    }
    .col-3 {
      width: 17%; /* Ancho para pantallas grandes */
    }

    .btn{
      padding-left: 21.5px;
      padding-right: 21.5px;
    }

    .btn.clear-entry-button{
      padding-left: 14.5px;
      padding-right: 14.5px;
    }

    .btn.divide-button{
      padding-left: 23.5px;
      padding-right: 23.5px;
    }

    .btn.point-button{
      padding-left: 26.5px;
      padding-right: 26.5px;
    }

    .btn.add-button{
      padding-left: 20.5px;
      padding-right: 20.5px;
    }
}
@media (min-width: 1400px) { /* Tamaño de pantalla: Extra extra grande (>= 1400px) */
  .col-1 {
      width: 5%; /* Ancho para pantallas grandes */
    }
    .col-3 {
      width: 15%; /* Ancho para pantallas grandes */
    }

    .btn{
      padding-left: 23.5px;
      padding-right: 23.5px;
    }

    .btn.clear-entry-button{
      padding-left: 16.5px;
      padding-right: 16.5px;
    }
    .btn.divide-button{
      padding-left: 24.5px;
      padding-right: 24.5px;
    }

    .btn.point-button{
      padding-left: 26.5px;
      padding-right: 26.5px;
    }

    .btn.add-button{
      padding-left: 22.5px;
      padding-right: 22.5px;
    }
}


.history{
  text-align: center !important
}








html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
