
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container-img {
  padding: 0;
  margin: 0;
  background-image: url('../../assets/home3d.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.responsive-image {
  max-width: 100%;
  max-height: 100%;
}

.home-text {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
}
