@import url('https://fonts.googleapis.com/css?family=Patua+One');
img{
  max-width: 100%;
  height: auto;
}

.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Patua One';
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.overlay-text {
  position: absolute; /* Posiciona el texto de manera absoluta */
  top: 50%; /* Coloca el elemento en la mitad superior del contenedor */
  left: 50%; /* Coloca el elemento en el centro horizontal del contenedor */
  transform: translate(-50%, -50%); /* Centra el elemento completamente */
  text-align: center; /* Centra el texto horizontalmente */
  color: white; /* Color del texto */
}

.overlay-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.footer-content{
  position: absolute; /* Posiciona el texto de manera absoluta */
  top: 50%; /* Coloca el elemento en la mitad superior del contenedor */
  left: 50%; /* Coloca el elemento en el centro horizontal del contenedor */
  transform: translate(0%, 100%); /* Centra el elemento completamente */
  text-align: center; /* Centra el texto horizontalmente */
  color: white; /* Color del texto */

}
